
########## CORE APP REQUIREMENTS ##########

streamlit
numpy
matplotlib
psutil
pylatexenc
Pillow
pandas
sympy
scipy
jinja2
python-dotenv

########## QISKIT SUITE ##########

qiskit==0.45.3
qiskit-terra==0.45.3
qiskit-aer==0.12.0
###########################################
google-auth
google-auth-oauthlib
google-api-python-client
