
########## CORE APP REQUIREMENTS ##########

streamlit
numpy
matplotlib
psutil
pylatexenc
Pillow
pandas
sympy
scipy
jinja2
python-dotenv

########## QISKIT SUITE ##########

qiskit
qiskit-terra
qiskit-aer

###########################################
google-auth
google-auth-oauthlib
google-api-python-client
